.training {
  cursor: pointer;
}

.training__title {
  margin: 0 0 10px 0;
}

/**
 Data
 */

.training__data {
  display: flex;
  justify-content: space-around;
}

.training--active .mark {
  background: yellow;
}

.training__data__single mark {
  font-size: 16pt;
  font-weight: bold;
}

.training__data__additional {
  font-size: 76%;
  color: #777;
}

.training__data__single {
  font-family: 'WeberHandITCStd', 'Helvetica', 'Verdana', sans-serif;
}

.mark {
  font-weight: bold;
}

.main .card .training:hover {
  background: #eee;
}

.main .card .training.training--active:hover {
  background: inherit;
}
