.training-form-row {
  display: flex;
  align-items: center;
}

.training-form-row .col-1 {
  flex-grow: 1;
  min-width: 140px;
}

.training-form-row .col--2 {
  flex-grow: 5;
}

.training-form-row .col--3 {
  flex-grow: 1;
  width: 50px;
}

.training-form-row input[type=text] {
  font-size: 16pt;
}
