.training {
  cursor: pointer;
}

.training__main {
}

.training__main__title {
  margin: 0 0 10px 0;
}

.training__data {
  display: flex;
  justify-content: space-around;
  font-family: 'WeberHandITCStd', 'Helvetica', 'Verdana', sans-serif;
}

.training__data__additional {
  font-size: 76%;
  color: #777;
}

.training__data__single {
}

.mark {
}

.main .card .training:hover {
  background: #eee;
}

.training:hover .mark {
  background: yellow;
}

.training--active .mark {
  background: yellow;
}

.training__data__single mark {
  font-size: 16pt;
  font-weight: bold;
}

.training__additional {
  font-size: 60%;
  border-top: 1px solid #eee;
  margin-top: 10px;
}
