.app {
  margin: 0 auto;
  flex: 1;
}

.app__header {
  background-color: #666;
  padding: 20px;
  color: white;
}

.app__header__title {
  font-size: 1.5em;
}

.app__content {
  margin: 20px auto;
}

.app__content h2 {
  text-align: center;
}

.app__footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.app__footer__image {
  width: 100%;
}

